* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 241, 229);
}

.col {
    padding: 0.7rem 2rem;
}

.card {
    background-color: transparent;
    transition: 1.5s;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    border-radius: 50%;
}

.main_description {
    width: 60%;
}

.description {
    line-height: 1.6rem;
    font-weight: bold;
}

input {
    width: 340px;
    border-radius: 15px;
    padding: 0.5rem;
}

.alert {
    background-color: rgb(194 251 194 / 55%);
    border: 1px solid palegreen;
    border-radius: 2rem;
    color: rgb(47 173 47);
    padding: 0.6rem;
    width: 45%;
    text-align: center;
    display: none;
}